*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;    
}

h1{
    padding: 5px;
}

.tabela{
    width: 400px;
    margin: 5px;
}

td> a , th> a{
    text-decoration: none;
}


